@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Great+Vibes&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    min-height: 100vh;
    width: 100%; 
    height: 100vh; 
    background-position: center; 
    background-size: cover; 
    background-image: url(images/debbie-tea-LO7rNP0LRro-unsplash.jpg); 
    background-repeat: no-repeat; 
}
 
body::after {
    content: ' '; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 1) 90%);
    z-index: -1; 
}
.container{
    width: 100%;
}
.logo {
    color: #f5be32; 
    font-family: "Cinzel", serif; 
    padding-right: 350px;
}

.links{
    font-family: "Cormorant SC", serif;
    color: white;
  
}
.link{
    font-family: "Cormorant SC", serif;
    color: black;
    padding: 5px;
    font-size: 17px;
    
}
.divbg{
    box-shadow: 4px;
    color: black;
    background-color: #f5be32;
    border: 1px solid #f5be32;
    margin-left: 100px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow:  #f5be32 0px 0px 10px;
    
}
.divbg :hover{
    color: white;

}
.text{
    text-align: center;

}
.p1{
    font-family: "Great Vibes", cursive;
    color: #ffffff;
    font-size: 20px;
}
.titre{
    font-family: "Cinzel", serif;
    color: #f3d382 ;
    font-size: 60px;
    
}
.p2{
    font-family: "DM Sans", sans-serif;
    color: #d9d9d9;
    font-size: 12px;
    width: 80%;
    padding-left: 170px;
   
   
}
.parag{
    width: 90%;
    padding-left: 100px;

}

.link2{
    font-family: "Cormorant SC", serif;
    color: black;
    padding: 5px;
    font-size: 23px;
    
}
.divbg2{
    box-shadow: 4px;
    color: black;
    background-color: #f5be32;
    border: 1px solid #f5be32;
    margin-left: 100px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow:  #f5be32 0px 0px 10px;
    width: 20%;
    text-align: center;
    margin-left: 500px;
    
}
.divbg2 :hover{
    color: white;

}
.section2{
    width: 100%;
    background-color:rgba(0, 0, 0, 1) ;
}
.titre2{
    font-family: "Cinzel", serif;
    color: #f3d382 ;
    font-size: 30px;
    
}
.divsadow{
    box-shadow:  #f5be32 0px 0px 70px;
  

}
.divbg3{
    box-shadow: 1px;
    color: #f5be32;
    border: 5px solid #f5be32;
    margin-left: 100px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow:  #f5be32 0px 0px 20px;
    width: 30%;
    text-align: center;
  
    
}
.link3{
    font-family: "Cormorant SC", serif;
    color: #f5be32;
    padding: 2px;
    font-size: 19px;
    
}
.img{
   
    width: 80%;
}
.divrecette{
    padding: 0;
    margin: 0;
}
.maForm{
    position: relative;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 50px #f5be32;
    background-color: black;
    padding: 40px;
    overflow:hidden;

}

.maForm:hover{
    animation: colorChange 2s linear infinite alternate;
}


@keyframes colorChange {
    0% {
        box-shadow: 0 0 50px red ;
    }
    50% {
        box-shadow:0 0 50px #e7cd8d ;
    }
    100% {
        box-shadow:0 0 50px  #ffb700;
    }
}
.form-maForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
h2{
    font-size: 30px;
    color: #f5be32;
    text-align: center;
    font-family: "Cinzel", serif; 
}

.input-group{
    position:relative ;
    margin: 30px 0;
    border-bottom: 2px solid #f5be32;
    
}
.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #f5be32;
    pointer-events: none;
    transition: .5s;
    
}
.input-group input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #f5be32;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
    
}
.input-group input:focus~label,.input-group input:valid~label{
    top:-5px;
    background:transparent;
}
.remember{
    margin: -5px 0 15px 5px;
}
.remember label{
    color:#f5be32;
    font-size: 14px;
}
.remember label input{
    accent-color: #f5be32;
}
button{
    position:relative;
    width: 100%;
    height: 40px;
    background:#f5be32 ;
    box-shadow: 0 0 10px #f5be32 ;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border:none;
    outline: none;

}
.signUp-link{
    font-size: 14px;
    text-align: center;
    margin: 20px ;
    display: flex;
    justify-content: center;
   
}
.signUp-link p{
    color: #f5be32 ;
}
.signUp-link  a{ 
    text-decoration: none;
    font-weight: 500;
}
.signUp-link  a:hover{
    text-decoration: underline;
}
